@import '../../styles/_variables';
@import '../../styles/_mixins';

.container {
  @include flex-row;
  border: 2px solid $border-color;
  flex: 1;
}

.chart-container {
  flex: 1;
}

.setting-container {
  flex: 2;
  border-left: 2px solid $border-color;
}