@import '../../styles/variables';
@import '../../styles/mixins';

.flow-setting-container {
  @include flex-column;
  padding: 20px;
  flex: 1
}

.setting-title {
  margin: 0;
  padding-bottom: 1em;
  @include title-font;
  border-bottom: 2px solid $border-color;
}