.header {
  display: flex;
  flex-flow: row wrap;
  padding: 1em;
  justify-content: space-between;
  gap: 1em;
  /* flex: 0 0 100%; */
  /* flex-basis: 100%; */
  /* flex-grow: 1; */
}

.header-title {
  font-size: 1.5em;
}

.button-container {
  display: flex;
  gap: 1em;
  /* flex-flow: row nowrap; */
}

.button {
  color: #595959;
}