@import '../../styles/variables';

.header {
  display: flex;
  flex-flow: row wrap;
  padding: 1em;
  justify-content: space-between;
  gap: 1em;
  /* flex: 0 0 100%; */
  /* flex-basis: 100%; */
  /* flex-grow: 1; */
}

.header-title {
  margin: 0;
  font-size: 1.5em;
  line-height: 2em;
}

.button-container {
  display: flex;
  gap: 1em;
  margin-bottom: 2px;
  /* flex-flow: row nowrap; */
}

.button {
  color: #595959;
  border-width: 2px !important;
  border-radius: 8px !important;
}

.secondary-button {
  border: 2px solid $border-color !important;
}

.btn-cta {
  font-weight: 590;
  text-transform: capitalize;
  font-size: 1em;
}
.primary-btn-cta {
  color: $primary-cta-color;
  font-weight: bold;
}

.secondary-btn-cta {
  color: $secondary-color;
  font-weight: bold;
}